/* Add CSS Styling */

.btn {
  font-size: 28px;
  font-family: "Helvetica", "Times New Roman", "sans-serif";
}

.btn.btn-black {
  background-color: #000000;
  color: #ffffff;
}

.btn.btn-yellow {
  background-color: #ffff00;
}
